/* Start Main Contetn */
.boxs .container .first-text,
.boxs .second-text {
    font-size: 35px;
    border-bottom: 1px solid #34376E;
    padding-bottom: 13px;
    font-weight: 400;
}
.boxs .box:nth-of-type(4),
.boxs .box:nth-of-type(8){
    border-bottom: none;
}
.boxs .second-text {
    margin-top: 99px;
    margin-bottom: 30px;
}
.boxs .box .text-cotent .btn-desgin{
    font-size: 13px;
    padding: 10px 35px;
    border: none;
    border-radius: 8px;
    background-color:rgba(29, 150, 141, 10%);
    color: #1D968D;
}
/* End Main Contetn */